
// Rating
.form-rating {
  margin: 0;
  > li {
    list-style: none;
    display: inline-block;
    margin-right: 5px;
  }
  > li a {
    display: inline-block;
    &:before,
    &:after{
      @include icon-pack;
    }
    &:before{
      content: '\f006';
      opacity: 0.25;
    }
  }
  > li a:hover,
  > li.active a {
    &:before{
      content: '\f005';
      opacity: 1;
    }
  }
  a span {
    display: none;
  }
}
