.popup-message {
  position: fixed;
  bottom: 4px;
  right: 4px;
  padding: 16px;
  background-color: var(--color-neutral-f);
  border: 1px solid var(--color-neutral-d);
  z-index: 10;
  p {
    margin: 0;
    display: flex;
    &:not(:first-of-type) {
      margin-top: 8px;
    }
    &.success,
    &.error {
      &::before {
        margin-right: 4px;
        font-family: var(--icon-default-font-family);
      }
    }
    &.success {
      &::before {
        content: '\f058';
      }
    }
    &.error {
      &::before {
        content: '\f06a';
      }
    }
  }
}
