.bg-align-bottom {
  background-position: bottom center!important; 
}
.bg-align-top {
  background-position: top center!important; 
}
.bg-align-center {
  background-position: center center!important; 
}