
@mixin grid-box-padding{
  @include breakpoint(large){
    padding: var(--grid-box-padding);
  }
  @include breakpoint(medium-small){
    padding: var(--grid-box-padding-mobile);
  }
}

@mixin grid-gutter($gutter-size: 16px){
  padding-left: $gutter-size;
  padding-right: $gutter-size;
  @include breakpoint(xlarge) {
    padding-left: 0;
    padding-right: 0;  
  }
  @include breakpoint(small) {
    padding-left: cal($gutter-size / 2);
    padding-right: cal($gutter-size / 2);
  }  
}
