$weights: 100, 200, 300, 400, 500, 600, 700, 800, 900;

@each $weight in $weights {
	@font-face {
		font-family: 'ClashDisplay';
		font-style: normal;
		font-weight: $weight;
		src: url('/Assets/GoBasic/v1/fonts/ClashDisplay/ClashDisplay-Variable.woff2') format('woff2');
	}
}
