$weights: 100, 200, 300, 400, 500, 600, 700, 800, 900;

@each $weight in $weights {
  @font-face {
    font-family: 'Noto';
    font-style: normal;
    font-weight: $weight;
    src: url('/Assets/GoBasic/v1/fonts/Noto/Noto-Variable.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Noto';
    font-style: Italic;
    font-weight: $weight;
    src: url('/Assets/GoBasic/v1/fonts/Noto/Noto-Variable-italic.ttf') format('truetype');
  }
}
