@mixin avatar($size) {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: $size;
  min-width: $size;
  height: $size;
  border-radius: var(--universal-border-radius);
  border: 1px solid var(--color-neutral-d);
}
